@import url("style.css");
#media_nav_butt {
  display: block;
  margin: 2%;
  width: 4rem;
  height: 4rem;
  border-radius: 10vw;
  background-color: skyblue;
  position: absolute;
  z-index: 2;
  box-shadow: black 0px 0px 10px 0px;
  opacity: 0.5;
  transition: all 0.1s; }
  #media_nav_butt:active {
    opacity: 1;
    transform: scale(0.9); }

#nav {
  position: absolute;
  top: 8%;
  left: -100%;
  width: 60%;
  height: 90%;
  transition: left 1s;
  z-index: 2; }
  #nav:hover {
    transform: none; }

#section {
  width: 100%;
  height: 100%;
  z-index: 1; }
  #section div:hover {
    transform: none; }

#header {
  display: none; }
