* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

#wrap, #header ul li a, #nav #nav-bott > div, #nav #nav-bott > div table, #nav #nav-bott > div table tbody, #section div, .table {
  height: 100%;
  width: 100%; }

@keyframes list {
  0% {
    transform: translateX(5vw); }
  100% {
    transform: translateX(0vw); } }

@keyframes listOut {
  0% {
    transform: translateX(0vw); }
  100% {
    transform: translateX(5vw); } }

.animated:nth-child(1) {
  animation-delay: 0.2s;
  animation-name: list;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  background: #1abc9c; }

.animated:nth-child(2) {
  animation-delay: 0.4s;
  animation-name: list;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  background: #f1c40f; }

.animated:nth-child(3) {
  animation-delay: 0.6s;
  animation-name: list;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  background: #e74c3c; }

.animated:nth-child(4) {
  animation-delay: 0.8s;
  animation-name: list;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  background: #3498db; }

#wrap {
  overflow: hidden;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); }

#header div {
  height: 4vw;
  width: 4vw;
  position: absolute;
  background-color: skyblue;
  right: -2.5vw;
  border-radius: 5vw;
  top: 0rem;
  margin: 0.2rem;
  transition: all 0.5s;
  z-index: 5; }
  #header div:hover {
    transform: translateX(-0.8rem); }
  #header div:active {
    transform: scale(0.8); }

#header ul {
  z-index: 5;
  list-style: none;
  position: absolute;
  right: 0.2rem;
  top: 2rem; }
  #header ul li {
    font-size: 0.3rem;
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 5vw;
    margin-top: 2rem; }
    #header ul li a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black; }

#nav {
  height: 96%;
  width: 20%;
  padding: 2%;
  margin: 1%;
  border-radius: 1vw;
  float: left;
  background-color: #01b3ff;
  box-shadow: gray 3px 3px 20px 0px;
  transition: all 1s; }
  #nav:hover {
    transform: translateX(2%); }
  #nav #nav-top {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column; }
    #nav #nav-top > div {
      flex: 1;
      margin-top: 5%;
      border-radius: 1vw;
      background-color: #ffffff;
      font-size: 0.3rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-around;
      transition: all 0.5s; }
      #nav #nav-top > div:hover {
        transform: scale(1.1); }
    #nav #nav-top input {
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none; }
    #nav #nav-top #nav-input {
      width: 20%; }
    #nav #nav-top .Myinput {
      width: 60%;
      text-align: center; }
  #nav #nav-bott {
    height: 30%;
    width: 100%;
    padding-top: 10%; }
    #nav #nav-bott > div {
      border-radius: 1vw;
      background-color: #ffffff; }
      #nav #nav-bott > div table tbody {
        font-size: 0.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        #nav #nav-bott > div table tbody tr {
          display: flex;
          justify-content: space-around; }

#section {
  float: right;
  height: 100%;
  width: 78%;
  padding: 2%;
  font-size: 0.5rem; }
  #section div {
    box-shadow: gray 6px 6px 20px 0px;
    border-radius: 1vw;
    background-color: #ebebeb;
    padding: 2%;
    transition: all 0.5s; }
    #section div:hover {
      transform: translateX(-0.5%); }

.table {
  margin: auto;
  text-align: center;
  border: black; }
