* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

%hw {
	height: 100%;
	width: 100%;
}

@keyframes list {
	0% {
		transform: translateX(5vw);
	}

	100% {
		transform: translateX(0vw);
	}
}

@keyframes listOut {
	0% {
		transform: translateX(0vw);
	}

	100% {
		transform: translateX(5vw);
	}
}

@for $i from 1 through 4 {
	$colors: #1abc9c, #f1c40f, #e74c3c, #3498db;

	.animated:nth-child(#{$i}) {
		animation-delay: ($i * 0.2) + s;
		animation-name: list;
		animation-duration: 0.5s;
		animation-fill-mode: both;
		background: nth($colors, $i);
	}
}

#wrap {
	@extend %hw;
	overflow: hidden;
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#header {
	div {
		height: 4vw;
		width: 4vw;
		position: absolute;
		background-color: skyblue;
		right: -2.5vw;
		border-radius: 5vw;
		top: 0rem;
		margin: 0.2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s;
		z-index: 5;
		&:hover {
			transform: translateX(-0.8rem);
		}
		&:active {
			transform: scale(0.8);
		}
	}
	ul {
		z-index: 5;
		list-style: none;
		position: absolute;
		right: 0.2rem;
		top: 2rem;
		li {
			font-size: 0.3rem;
			height: 3.5vw;
			width: 3.5vw;
			border-radius: 5vw;
			margin-top: 2rem;
			a {
				text-decoration: none;
				display: flex;
				justify-content: center;
				align-items: center;
				color: black;
				@extend %hw;
			}
		}
	}
}

#nav {
	height: 96%;
	width: 20%;
	padding: 2%;
	margin: 1%;
	border-radius: 1vw;
	float: left;
	background-color: #01b3ff;
	box-shadow: gray 3px 3px 20px 0px;
	transition: transform 1s;
	&:hover {
		transform: translateX(2%);
	}
	#nav-top {
		height: 70%;
		width: 100%;
		display: flex;
		flex-direction: column;
		& > div {
			flex: 1;
			// margin: 5% 0 5% 0;
			margin-top: 5%;
			border-radius: 1vw;
			background-color: #ffffff;
			font-size: 0.4rem;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: space-around;
			transition: all 0.5s;
			&:hover {
				transform: scale(1.1);
			}
		}
		input {
			height: 100%;
			background-color: transparent;
			border: none;
			outline: none;
		}
		#nav-input {
			width: 20%;
		}
		.Myinput {
			width: 60%;
			font-size: 0.4rem;
			text-align: center;
		}
	}
	#nav-bott {
		height: 30%;
		width: 100%;
		padding-top: 10%;
		& > div {
			@extend %hw;
			border-radius: 1vw;
			background-color: #ffffff;
			table {
				@extend %hw;
				tbody {
					font-size: 0.4rem;
					@extend %hw;
					display: flex;
					flex-direction: column;
					tr {
						display: flex;
						justify-content: space-around;
					}
					justify-content: space-around;
				}
			}
		}
	}
}

#section {
	float: right;
	height: 100%;
	width: (100% - 20 - 2);
	padding: 2%;
	font-size: 0.5rem;
	div {
		@extend %hw;
		box-shadow: gray 6px 6px 20px 0px;
		border-radius: 1vw;
		background-color: #ebebeb;
		padding: 2%;
		transition: transform 0.5s;
		&:hover {
			transform: translateX(-0.5%);
		}
	}
}

.table {
	margin: auto;
	@extend %hw;
	text-align: center;
	border: black;
}
